@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
body{
    font-family: 'Uchen', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}   
 
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar{
    width: 100%;
    height: 6rem;
    position: fixed;
    z-index: 1000;
    background-color: rgba(53, 47, 47, 0.651);
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.nav-item{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-item li{
    margin-left: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* position: relative; */


}
.nav-item li:hover .d-menu{
    opacity: 1;
    

}

.nav-item li a{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.nav-item li a:hover{
    color:rgb(204, 204, 20) ;
}
#navbar .logo i{
    font-size: 3rem;
    color: rgb(204, 204, 20);
}
/* ########## nav bar close ########## */

.all_menu{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all_menu_pro{
    border: 2px solid red;
    width: 370px;
    height: 200px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.d-menu{
    list-style: none;
    position: absolute;
    top: 6rem;
    background: rgba(53, 47, 47, 0.651);
    left: 65%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1rem;
    padding-right: 1rem;

}








    

