@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
body{
    font-family: 'Uchen', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}   
 
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar{
    width: 100%;
    height: 6rem;
    position: fixed;
    z-index: 1000;
    background-color: rgba(53, 47, 47, 0.651);
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.nav-item{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-item li{
    margin-left: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* position: relative; */


}
.nav-item li:hover .d-menu{
    opacity: 1;
    visibility: visible;
    

}

.nav-item li a{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.nav-item li a:hover{
    color:rgb(204, 204, 20) ;
}
#navbar .logo i{
    font-size: 3rem;
    color: rgb(204, 204, 20);
}
/* ########## nav bar close ########## */

.all_menu{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all_menu_pro{
    border: 0px solid red;
    width: 370px;
    padding: 2rem;
    height: 430px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px #A09D9D ;
    transition: transform 0.3s;
}
.all_menu_pro:hover{
    transform: scale(1.07);
}
.d-menu{

    list-style: none;
    position: absolute;
    top: 6rem;
    background: rgba(53, 47, 47, 0.651);
    left: 65%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1rem;
    padding-right: 1rem;
    visibility: hidden;

}
.all_menu_pro img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.checked{
    color: orange;
}
.star_style{
    border: 0px solid black;
   
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title p{
    text-align: center;
    font-size: 17px;
    justify-content: center;
}
.title b{
    color: rgb(122, 16, 16);
    font-size: 18px;
}

.footer{
    min-height: 220px;
    height: auto;
    margin-top: 3rem;
    width: 100%;
    background-color: black;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}
.footer_box{
    height: 230px;
    width: 18%;
    /* border: 2px solid blue; */
    float: left;
    color: cornsilk;
    text-align: center;
}
.btn{
    border: 0px solid green;
    height:60px;
    display: flex;
    justify-content: center;

}
.btn input{
    height: 20px;
    width:80px ;
    border-radius: 7px;
    background-color:orange ;
    border: 0px;
    box-shadow: 3px 3px 3px 3px #A09D9D ;
    
}
.btn input:hover{
    background-color: rgb(172, 112, 2);
   
}
table{
    height: 430px;

}
input{
    width: 100%;
    height: 35px;
    border: 2px solid rgb(172, 112, 2);
    font-size: 20px;
}
textarea{
    width: 100%;
    height: 100px;
    border: 2px solid rgb(172, 112, 2);
    font-size: 20px;

} 
select{
    width: 100%;
    height: 35px;
    border: 2px solid rgb(172, 112, 2);
    font-size: 20px;

}
input[type=button]:hover{
    background-color: rgb(172, 112, 2);
}
.contact{
    width: 100%;
    height: 450px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact_content{
    width: 45%;
    height: 440px;
    border: 0px solid green;
    float: left;
}











    

