#outerbox{ 
    width: 1400px;
    height:600px;
    overflow: hidden;
   
}
#sliderbox{
    position: relative;
    /* height: auto; */
    width: 4500px;
    animation: slide 15s infinite;
    /* animation-duration: 15s;
    animation-iteration-count: infinite; */
} 
#sliderbox img{
    float: left;

}
@keyframes slide{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -1500px;
    }
    45%{
        left: -1500px;
    }
    50%{
        left: -3000px;
    }
    70%{
        left: -3000px;
    }
    75%{
        left:-4500  px;
    }
}